<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <p>Form value: {{ form.value | json }}</p>
      <p>Form value: {{ form.valid | json }}</p>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input
            type="text"
            formControlName="nome"
            [ngClass]="{
              'is-invalid':
                form.get('nome')?.errors && form.get('nome')?.touched
            }"
            class="form-control"
            placeholder="Insira o Nome"
          />
          <div
            *ngIf="form.get('nome')?.hasError('required')"
            class="invalid-feedback"
          >
            nome é obrigatorio
          </div>
          <div
            *ngIf="form.get('nome')?.hasError('minlength')"
            class="invalid-feedback"
          >
            nome deve conter no mínimo 4 caracteres
          </div>
          <div
            *ngIf="form.get('nome')?.hasError('maxlength')"
            class="invalid-feedback"
          >
            nome deve conter no máximo 100 caracteres
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Email</label>
          <input
            type="text"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                form.get('email')?.errors && form.get('email')?.touched
            }"
            class="form-control"
            placeholder=""
          />
          <div
            *ngIf="
              form.get('email')?.hasError('required') &&
              form.get('email')?.touched
            "
            class="invalid-feedback"
          >
            email é obrigatorio
          </div>
          <div
            *ngIf="
              form.get('email')?.hasError('email') && form.get('email')?.touched
            "
            class="invalid-feedback"
          >
            favor informar um email válido
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Senha</label>
          <input
            type="text"
            formControlName="senha"
            [ngClass]="{
              'is-invalid':
                form.get('senha')?.errors && form.get('senha')?.touched
            }"
            class="form-control"
            placeholder=""
          />
          <div class="invalid-feedback">senha é obrigatorio</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>Ativo</label>
          <input
            type="checkbox"
            formControlName="ativo"
            class="form-check-input"
            value="false"
            placeholder=""
          />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex" style="justify-content: space-between">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm($event)"
        >
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
